<!DOCTYPE html>
<html>
<head>
    <title>Chord Trainer</title>
    <style>
        #operators {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="operators">
        <label>Mode:</label>
        <select id="mode-select1">
            <option value="1">Normal</option>
            <option value="2">Show Implied Notes</option>
            <option value="2">Only implied Voicings</option>
            <option value="3">Change Left Hand Voicing</option>
            <option value="4">Change Left Hand Voicing Inversion</option>
            <option value="5">Change Left Hand Voicing Octave</option>
        </select>
        <div id="impliedNotes"></div>
    </div>
    <div id="output"></div>
    <div id="output2"></div>
    <!--
        <script src="https://cdn.jsdelivr.net/npm/vexflow@4.0.3/build/cjs/vexflow.js"></script>>

    -->
    <script>
        const indexForRoute = <%= index %>;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vexflow@5.0.0/build/cjs/vexflow.js"></script>
    <script src="chordIdentifier.js" type"text/javscript"></script>

    <script src="createStaffNotes.js" type"text/javscript"></script>

    <script src="renderMeasures.js" type"text/javscript"></script>
    <script src="getData.js" type"text/javscript"></script>
</body>
</html>
